{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/js-yaml@4/dist/js-yaml.min.js"></script> 
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!--<script src="{{ asset('scripts/home.js') }}"></script> -->
{% endblock %}

{% block body %}

<!-- HERO -->
<section class="hero">

    <img src="{{ asset('images/icons/left.svg') }}" class="hero-left">
    <svg viewBox="0 0 462 1026" fill="none" xmlns="http://www.w3.org/2000/svg" class="hero-right">
        <image href="{{ asset('images/icons/right.svg') }}" />
        <image href="{{ asset('images/me.jpg') }}" x="50" y="50" height="250" width="250" clip-path="circle(50%)" />
    </svg>

    <h1 class="hero-title"><span class="first-name">Gémino</span><br><span class="last-name">Ruffault--Ravenel</span></h1>
    <div class="mobile-pp">
        <img src="{{ asset('images/me.jpg') }}" class="mobile-image"/>
        <div class="pp-star" style="--s: 1; --x: 100; --y:50"></div>
        <div class="pp-star" style="--s: 4; --x: 100; --y:-100"></div>
        <div class="pp-star" style="--s: 7; --x: -100; --y:20"></div>
        <div class="pp-star" style="--s: 5; --x: -50; --y:-100"></div>
        <div class="pp-star" style="--s: 2; --x: 50; --y:50"></div>
        <div class="pp-star" style="--s: 3; --x: -10; --y:-50"></div>
        <div class="pp-star" style="--s: 6; --x: -50; --y:80"></div>
        <div class="pp-star" style="--s: 8; --x: -70; --y:70"></div>
    </div>

    <div class="hero-buttons">
        <button class="accent-btn"><a href="#competences">
            <img src="{{ asset('images/icons/hello_icon.svg') }}" alt="A person saying hello">
            Me découvrir
        </a></button>
        <button class="lightaccent-btn"><a href="{{ asset('files/cv_gemino_ruffaultravenel.pdf') }}">
            <img src="{{ asset('images/icons/download_icon.svg') }}" alt="Download icon">
            Télécharger mon CV
        </a></button>
    </div>

</section>

<!-- RECHERCHE -->
<section class="recherche">
    <h2>Je suis ouvert à un job d'été !</h2>
    <p>
        Motivé et flexible et avec une capacité d'adaptation, je suis ouvert à un job d'été pendant les vacances scolaires.
    </p>
    <button class="accent-btn" id="recherche_btn"><a href="#contact">Me contacter</a></button>
</section>

<!-- COMPETENCES -->
<section class="competences" id="competences">
    <h2>Compétences</h2>

    <div class="competences-list" id="competences_list">
        {% for skillSet in skillSets %}
        <div class="competence-categorie">
            <p class="competence-categorie-title">{{ skillSet.name }}</p>
            <div class="competence-categorie-list">
            {% for skill in skillSet.skills %}
            <div class="competence-categorie-list-item">
                {% set parts = skill.icon|split(' ') %}
                {% set type = (parts|length > 1) ? parts[0] : 'brands' %}
                {% set name = parts|last %}

                <i class="fa-{{ type }} fa-{{ name }}"></i>
                <p>{{ skill.name }}</p>
                <p>{{ skill.description }}</p>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</section>

<!-- PARCOURS -->
<section class="parcours" id="parcours">
    <h2>Parcours scolaire</h2>

    <div class="timeline">
        <div class="timeline-element">
            <h4>2020 - 2023</h4>
            <h3>Bac Général - Lycée Général et Technologique de Réaumur, Laval</h3>
            <p>
                J'ai obtenu mon Baccalauréat général avec une spécialisation en Mathématiques et NSI, ainsi qu'une option Mathématiques expertes. J'ai également étudié la physique-chimie en première.
            </p>
        </div>
        <div class="timeline-element">
            <h4>2023 - 2026</h4>
            <h3>BUT Informatique - IUT de Laval</h3>
            <p>
                Passionné d'informatique, le BUT Informatique me permet de combiner apprentissage théorique et expérience pratique. J'y apprends de nombreuses notions, comme le développement web, la maintenance des systèmes, ainsi que des compétences plus générales, telles que la gestion et la communication.
            </p>
        </div>
        <div class="timeline-element">
            <h4>2025 - 2026</h4>
            <h3>Double diplôme Baccalauréat en informatique - Université du Québec à Chicoutimi (UQAC)</h3>
            <p>
                Dans le cadre de mon BUT Informatique, j'ai eu l'opportunité d'effectuer ma troisième année à l'UQAC, au Canada. Ce double diplôme me permettra d'obtenir un double diplôme, tout en découvrant une nouvelle culture.
            </p>
        </div>
    </div>

    <br>
    <br> <!-- C'est pas beau mais sa marche... -->
    <br>

    <h2>Parcours Professionnel</h2>

    <div class="timeline">
        <div class="timeline-element">
            <h4>2020</h4>
            <h3>Stage d'observation chez XEFI - Saint Berthevin</h3>
            <p>
                Durant ce stage, j'ai eu l'opportunité de découvrir le milieu professionnel en observant le fonctionnement d'une entreprise spécialisée dans la réparation et la maintenance informatique. J'y ai vu toutes sortes de tâches, du dépannage pour particuliers à l'installation d'outils pour entreprises.
            </p>
        </div>
        <div class="timeline-element">
            <h4>Eté 2024</h4>
            <h3>Travail en déchetterie - Laval Agglomération</h3>
            <p>
                Lors de mon travail en déchetterie, j’ai acquis des compétences en service client, maintenance des lieux, conseil aux usagers et gestion des bennes. J’ai assisté les usagers dans le tri des déchets tout en assurant leur sécurité, notamment lors de la manipulation de matériaux dangereux et la gestion de situations à risque.
            </p>
        </div>
        <div class="timeline-element">
            <h4>Avril - Juin 2025</h4>
            <h3>Stage chez Akelio</h3>
            <p>
                J’ai effectué un stage de développement d’une application web avec Java Spring et Vue.js. Je me suis plongé dans le fonctionnement d’une application complexe, du frontend jusqu’à la base de données, en passant par toutes les couches du backend. Ce stage a également été l’occasion d’expérimenter la méthode agile.
            </p>
        </div>
    </div>

</section>

<!-- REALISATIONS -->
<section class="realisations" id="realisations">
    <h2>Réalisations</h2>

    <div class="container swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper" id="realisations_list">

                <!-- AUTO COMPLETED -->

            </ul>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

</section>

<!-- CONTACT -->
<section class="contact" id="contact">
    <h2>Contact</h2>

    <a href="mailto:gemino.ruffault-ravenel.etu@univ-lemans.fr">
        <img src="{{ asset('images/icons/email_icon.svg') }}" alt="Email icon">
        <strong>Adresse mail :</strong> gemino.ruffault-ravenel.etu@univ-lemans.fr
    </a>

    <a href="tel:gemino.ruffault-ravenel.etu@univ-lemans.fr">
        <img src="{{ asset('images/icons/phone_icon.svg') }}" alt="Phone icon">
        <strong>Numéro de téléphone :</strong> 06 45 82 60 71
    </a>

</section>

{% endblock %}
