{% extends 'base.html.twig' %}

{% block meta %}
<meta name="description" content="Étudiant en BUT Informatique à Laval, actuellement à la recherche d'un stage.">
<meta name="author" content="Gémino Ruffault--Ravenel">
<meta property="og:title" content="Gémino Ruffault--Ravenel - Portfolio">
<meta property="og:description" content="Étudiant en BUT Informatique à Laval, actuellement à la recherche d'un stage.">
<meta property="og:image" content="{{ asset('images/me.jpg') }}">
<meta property="og:url" content="https://gemino.dev">
<meta property="og:type" content="website">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="{{ asset('scripts/home.js') }}"></script>
{% endblock %}

{% block body %}

<!-- HERO -->
<section class="hero">

    <img src="{{ asset('images/icons/left.svg') }}" class="hero-left">
    <svg viewBox="0 0 462 1026" fill="none" xmlns="http://www.w3.org/2000/svg" class="hero-right">
        <image href="{{ asset('images/icons/right.svg') }}" />
        <image href="{{ asset('images/me.jpg') }}" x="50" y="50" height="250" width="250" clip-path="circle(50%)" />
    </svg>

    <h1 class="hero-title"><span class="first-name">Gémino</span><br><span class="last-name">Ruffault--Ravenel</span></h1>
    <div class="mobile-pp">
        <img src="{{ asset('images/me.jpg') }}" class="mobile-image"/>
        <div class="pp-star" style="--s: 1; --x: 100; --y:50"></div>
        <div class="pp-star" style="--s: 4; --x: 100; --y:-100"></div>
        <div class="pp-star" style="--s: 7; --x: -100; --y:20"></div>
        <div class="pp-star" style="--s: 5; --x: -50; --y:-100"></div>
        <div class="pp-star" style="--s: 2; --x: 50; --y:50"></div>
        <div class="pp-star" style="--s: 3; --x: -10; --y:-50"></div>
        <div class="pp-star" style="--s: 6; --x: -50; --y:80"></div>
        <div class="pp-star" style="--s: 8; --x: -70; --y:70"></div>
    </div>

    <div class="hero-buttons">
        <button class="accent-btn"><a href="#competences">
            <img src="{{ asset('images/icons/hello_icon.svg') }}" alt="A person saying hello">
            Me découvrir
        </a></button>
        <button class="lightaccent-btn"><a href="{{ asset('uploads/cv/' ~ global.cvUrl) }}">
            <img src="{{ asset('images/icons/download_icon.svg') }}" alt="Download icon">
            Télécharger mon CV
        </a></button>
    </div>

</section>

<!-- RECHERCHE -->
<section class="recherche">
    <h2>{{ global.bannerTitle }}</h2>
    <p>
        {{ global.bannerDescription | raw }}
    </p>
    <button class="accent-btn" id="recherche_btn"><a href="#contact">Me contacter</a></button>
</section>

<!-- COMPETENCES -->
<section class="competences" id="competences">
    <h2>Compétences</h2>

    <div class="competences-list" id="competences_list">
        {% for skillSet in skillSets %}
        <div class="competence-categorie">
            <p class="competence-categorie-title">{{ skillSet.name }}</p>
            <div class="competence-categorie-list">
            {% for skill in skillSet.skills %}
            <div class="competence-categorie-list-item">
                {% set parts = skill.icon|split(' ') %}
                {% set type = (parts|length > 1) ? parts[0] : 'brands' %}
                {% set name = parts|last %}

                <i class="fa-{{ type }} fa-{{ name }}"></i>
                <p>{{ skill.name }}</p>
                <p>{{ skill.description }}</p>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</section>

<!-- PARCOURS -->
<section class="parcours" id="parcours">

    {% for timeline in timelines %}
    <h2>{{ timeline.name }}</h2>
    <div class="timeline">
        {% for  item in timeline.timelineItems %}
        <div class="timeline-element">
            <h4>{{ item.date }}</h4>
            <h3>{{ item.title }}</h3>
            <p>{{ item.description | raw }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    
</section>

<!-- REALISATIONS -->
<section class="realisations" id="realisations">
    <h2>Réalisations</h2>

    <div class="swiper mySwiper">
        <ul class="swiper-wrapper card-list">
            {% for production in productions %}
            <li class="swiper-slide card-item">
                <a href="{{ path('production', {id: production.id}) }}" class="card-link">
                    <div class="image-container">
                        <img src="{{ asset('uploads/productions/' ~ production.image) }}" alt="{{ production.title }}" class="card-image">
                    </div>

                    <div class="badges">
                        {% set tags = production.tags|split(',') %}
                        {% for badge in tags %}
                            <span class="badge">{{ badge|trim }}</span>
                        {% endfor %}
                    </div>

                    <h3 class="card-title">{{ production.title }}</h3>
                    <p class="card-description">{{ production.shortDescription }}</p>

                    <div class="card-button">
                        <img src="{{ asset('images/icons/forward_icon.svg') }}" alt="Plus d'infos">
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        
        <div class="swiper-pagination"></div>
    </div>
</section>

<!-- HOBBIES -->
<section class="hobbies" id="hobbies">

    {% for hobby in hobbies %}
    <div class="hobby">

        <div class="hobby-image">
            <img src="{{ asset('uploads/hobbies/' ~ hobby.image) }}" alt="{{ hobby.title }}">
        </div>

        <div class="hobby-content">
            <h2>{{ hobby.title }}</h2>
            <p>
                {{ hobby.text | raw }}
            </p>
        </div>
    </div>
    {% endfor %}

</section>

<!-- CONTACT -->
<section class="contact" id="contact">
    <h2>Contact</h2>

    <a href="mailto:{{ global.email }}">
        <img src="{{ asset('images/icons/email_icon.svg') }}" alt="Email icon">
        <strong>Adresse mail :</strong> {{ global.email }}
    </a>

    <a href="tel:{{ global.phone }}">
        <img src="{{ asset('images/icons/phone_icon.svg') }}" alt="Phone icon">
        <strong>Numéro de téléphone :</strong> {{ global.phone }}
    </a>

</section>

{% endblock %}
